h1 {
  text-align: center;
  color:whitesmoke;
  background-color: orange;
  font-family:monospace;
  font-weight:bold;
  border: solid 2px red;
}
.container {
  text-align: center;
}
.recipes-List{
  display: inline-block;
  list-style: none;
  margin-top: -5px;
  padding-left: 0px;
  background-color:beige;
  border: solid 2px red;
  width: 400px;
}
.list-element{
  padding: 10px;
  border: solid 5px orange;
  font-family: monospace;
}
